#root {
  width: 100vw;
  height: 51vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  background-color: skyblue;
}

main {
  width: 40%;
  height: 90%;
  border: thin solid white;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
}

main > * {
  margin-bottom: 2vw;
}

header {
  width: 100%;
  height: 4vw;
  display: flex;
  flex-direction: row;
  align-items: center;
  font-size: 1.8vw;
  justify-content: center;
}

header > * {
  width: 20%;
  height: 90%;
  background-color: white;
  color: black;
  text-decoration: none;
  display: flex;
  flex-direction: row;
  align-items: center;
  font-size: 1.8vw;
  justify-content: center;
}
span {
  width: 90%;
  height: 10%;
  border-radius: 4vw;
  background-color: blue;
  color: white;
  border: thin solid white;
  display: flex;
  flex-direction: row;
  align-items: center;
  font-size: 1.8vw;
  justify-content: center;
}

form {
  width: 90%;
  height: 50%;
  border: thin solid white;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
}

form > input {
  width: 80%;
  height: 15%;
  border: thin solid black;
  text-align: center;
  font-size: 1.8vw;
}

form > input:focus {
  outline: thin solid transparent;
}

form > button {
  width: 90%;
  height: 20%;
  background-color: white;
  text-align: center;
  border: thin solid transparent;
  font-size: 2vw;
}
